body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

p {
    font-size: 1rem;
}

main {
    width: 100%;
    height: 100%;

    padding: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

svg {
    min-width: 80vmin;
    min-height: 80vmin;
    width: 80vmin;
    height: 80vmin;

    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(163, 192, 246);
    border-radius: 10px;
}

img {
    height: 100%;
    width: 10px;
    background-color: #88FA76;
    border: 1px solid black;
    border-radius: 5px;
}

button, a {
    color: white;
    background-color: #4D6BB0;
    border: 1px solid #213A73;
    border-radius: 5px;

    text-align: center;

    width: 5rem;
    height: 35%;

    cursor: pointer;
}

button:active, a:active, button:hover, a:hover {
    background-color: #354E87;
}

#removeButton {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f56666;
    border-color: #db1111;
}

#removeButton:active, #removeButton:hover {
    background-color: #e65858;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#top, #bottom {
    height: 10vmin;
    min-height: 10vmin;
    width: 80vmin;

    display: flex;
    align-items: center;
}

#bottom {
    justify-content: space-between;
}

#resetContainer {
    display: flex;
    align-items: center;

    gap: 0.5rem;
    height: 35%;
    cursor: pointer;
}

.flex-container {
    display: flex;
    align-items: center;

    height: 100%;
    gap: 0.5rem;
}

.flow-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    gap: 1rem;

    width: 100%;
    height: 100%;
}

#actionContainer {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.draggable {
    cursor: pointer;
}