:root {
    --option-height: 1.5rem;
    --option-width: 6rem;
    --svg-size: 80vmin;
    --gap: 1rem;
    --border-rad: 0.25rem;
    --green: #88FA76;
    --red: #F56666;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: min(100%, 2vw);
    font-weight: 100;
}

h3 {
    font-weight: 100;
}

main {
    width: 100%;
    height: 100%;

    padding: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

svg {
    min-width: var(--svg-size);
    min-height: var(--svg-size);
    width: var(--svg-size);
    height: var(--svg-size);

    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(163, 192, 246);
    border-radius: var(--border-rad);
}

img {
    height: var(--option-height);
    width: var(--option-height);

    margin: 0 0.5rem;
    background-color: #88FA76;
    border: 1px solid black;
    border-radius: var(--border-rad);
}

input[type=text] {
    height: var(--option-height);
    width: var(--option-width);

    font-size: 0.8rem;
}

button,
a {
    color: white;
    background-color: #4D6BB0;
    border: 1px solid #213A73;
    border-radius: var(--border-rad);

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--option-width);
    min-width: var(--option-width);
    height: var(--option-height);

    cursor: pointer;
}

select {
    width: var(--option-width);
    height: var(--option-height);
}

.smallButton {
    height: var(--option-height);
    width: var(--option-height);
    min-width: var(--option-height);
}

.no-border-radius {
    border-radius: 0;
}

.border-radius-right {
    border-radius: var(--border-rad) var(--border-rad) 0 0;
}

button:active,
a:active,
button:hover,
a:hover {
    background-color: #354E87;
}

#removeButton {
    background-color: #f56666;
    border-color: #db1111;
    margin-left: var(--gap);
}

#removeButton:active,
#removeButton:hover {
    background-color: #e65858;
}

#top,
#bottom {
    height: 10vmin;
    min-height: 10vmin;
    width: var(--svg-size);
    min-width: var(--svg-size);

    display: flex;
    align-items: center;
}

#bottom {
    justify-content: space-between;
}

#resetContainer {
    display: flex;
    align-items: center;

    height: var(--button-height);
    cursor: pointer;
}

.flex-container {
    display: flex;
    align-items: center;

    height: 100%;
    gap: 0.5rem;
    margin-left: var(--gap);
}

.flow-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    width: 100%;
    height: 100%;
}

#actionContainer {
    display: flex;
    gap: var(--gap);
    width: 100%;
}

.draggable {
    cursor: pointer;
}

#copy-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

#copy-container {
    border-radius: var(--border-rad);
    border: 1px solid black;

    width: 100%;
    margin: 1vh 0 0 0;
    padding: 0 3px;

    background-color: rgb(240, 240, 240);

    font-size: 0.9rem;
    white-space: pre-wrap;
    overflow: auto;
}

#overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(200, 200, 200, 0.6);
    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;
}

#overlay>div {
    min-width: 30vw;
    min-height: 30vh;
    max-width: 80vw;
    max-height: 80vh;

    display: flex;
    flex-direction: column;

    background-color: white;
    padding: 2vmin;

    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.1), -3px -3px 6px 3px rgba(0, 0, 0, 0.1),
        -3px 3px 6px 3px rgba(0, 0, 0, 0.1), 3px -3px 6px 3px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 10px;
    margin: 10px
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #AAA;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}