body {
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 100%;
    height: 100%;

    padding: 5vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

svg {
    width: 90vmin;
    height: 90vmin;

    background-color: rgb(235, 235, 235);
    border: 0.1rem solid rgb(163, 192, 246);
    border-radius: 0.5rem;
}

aside {
    width: 33.3%;
    height: 100%;
}

.addButton {
    background-color: #213A73;
    border-color: #4D6BB0;
    color: white;

    border-radius: 0.2rem;
    width: 5rem;
    height: 100%;
}

.addButton:hover {
    background-color: #424E99;
}

input[type=text] {
    height: 100%;
    width: 30%;
}

input[type=checkbox] {
    transform: scale(2);
}

.draggable {
    cursor: move;
}

.container {
    width: 100%;
    max-height: 50%;

    overflow: auto;
}

.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 2rem;
}

.listContainer {
    height: 100%;
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.listContainer > div {
    height: 2.5rem;
    width: 100%;

    border: 0.1rem solid black;
    border-radius: 0.3rem;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsContainer {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.deleteButton {
    height: 1.5rem;
    width: 1.5rem;

    background-color: #FA7676;
    border-color: grey;
    border-radius: 3px;
    color: black;

    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}